//@font-face {
//  font-family: "YS Text"";
//  src: url("/fonts/yandex/YandexSansText-Regular.eot");
//  src: url("/fonts/yandex/YandexSansText-Regular.eot?#iefix")
//  format("woff2"), url("/fonts/yandex/YandexSansText-Regular.woff")
//  format("woff"), url("/fonts/yandex/YandexSansText-Regular.ttf")
//  format("truetype"), url("/fonts/yandex/YandexSansText-Regular.svg#YSText-Regular")
//  format("svg");
//  font-weight: 400;
//  font-style: normal;
//}

//@font-face {
//  font-family: "YS Text"";
//  src: url("/fonts/yandex/YandexSansText-Bold.eot");
//  src: url("/fonts/yandex/YandexSansText-Bold.eot?#iefix") format("embedded-opentype"),
//  url("/fonts/yandex/YandexSansText-Bold.woff2") format("woff2"),
//  url("/fonts/yandex/YandexSansText-Bold.woff") format("woff"),
//  url("/fonts/yandex/YandexSansText-Bold.ttf") format("truetype"),
//  url("/fonts/yandex/YandexSansText-Bold.svg#YSText-Bold") format("svg");
//  font-weight: 700;
//  font-style: normal;
//}

@font-face {
  font-family: "YS Text";
  src: url("/fonts/yandex/YandexSansText-Light.eot");
  src: url("/fonts/yandex/YandexSansText-Light.eot?#iefix") format("embedded-opentype"),
  url("/fonts/yandex/YandexSansText-Light.woff2") format("woff2"),
  url("/fonts/yandex/YandexSansText-Light.woff") format("woff"),
  url("/fonts/yandex/YandexSansText-Light.ttf") format("truetype"),
  url("/fonts/yandex/YandexSansText-Light.svg#YSText-Light") format("svg");
  font-weight: 300;
  font-style: normal;
}

.YSText-Regular {
  font-family: 'YS Text';
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
}

.YSText-Bold {
  font-family: "YS Text";
  font-weight: 700;
  font-style: normal;
  font-stretch: normal;
}

.YSText-Light {
  font-family: "YS Text";
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
}