@font-face {
  font-family: 'Chinese';
  src: url("/fonts/Chinese.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'bonzai';
  src: url("/fonts/bonzai.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Karate';
  src: url("/fonts/Karate.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'shanghai';
  src: url("/fonts/shanghai.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Shoguns';
  src: url("/fonts/Shoguns.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'YOZAKURA-Regular';
  src: url("/fonts/YOZAKURA-Regular.otf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Zenzai';
  src: url("/fonts/Zenzai.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}