.Factoring__inner {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.Factoring__arrow{
  display: block;
  background-image: url(#{$img-path}/down-arrow_white.svg);
  background-position: center;
  background-size: 80px;
  width: 80px;
  height: 80px;
  margin: auto;
  cursor: pointer;
  -webkit-filter: drop-shadow(0px 0px 15px black);
  filter: drop-shadow(0px 0px 15px black);
}
.Factoring__arrow_show{
  background-image: url(#{$img-path}/down-arrow_white.svg);
}
.Factoring__arrow_hide{
  background-image: url(#{$img-path}/cancel_white.svg);
}
//------------------------
.Factoring__header {
  font-family: 'Open Sans', 'Condensed';
  text-transform: uppercase;
  color: white;
  font-size: 50px;
  font-weight: 600;
  z-index: 100;
}
.Factoring__paragraph {
  font-family: 'Roboto';
  font-size: 20px;
  color: white;
  letter-spacing: 0.62px;
  line-height: 30px;
  font-weight: 300;
  text-align: center;
  z-index: 100;
}
.Factoring__logo{
  width: 300px;
  -webkit-filter: drop-shadow(0px 0px 15px black);
  filter: drop-shadow(0px 0px 15px black);

}
.Factoring__logo_container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
//------------------
.Factoring__technologis{
  z-index: 100;
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.Factoring__technologis_container{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.Factoring__technologis_container div{
  display: flex ;
  flex-direction: row ;
  justify-content: center;
  align-items: center ;
}
.Factoring__technologis_container div div{
  display: block;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100px;
  width: 100px;
  height: 100px;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 20px;
}
.Factoring__yii2{
  background-image: url(#{$img-path}/factoring/yii2.png);
}
.Factoring__wordpress{
  background-image: url(#{$img-path}/factoring/wordpress.svg);
}
.Factoring__js{
  background-image: url(#{$img-path}/factoring/js.svg);
}
.Factoring__php{
  background-image: url(#{$img-path}/factoring/php.svg);
}
.Factoring__jq{
  background-image: url(#{$img-path}/factoring/jq.svg);
}
.Factoring__bootstrap{
  background-image: url(#{$img-path}/factoring/Bootstrap.png);
}
.Factoring__mysql{
  background-image: url(#{$img-path}/factoring/mysql.svg);
}
.Factoring__nginx{
  background-image: url(#{$img-path}/factoring/nginx.png);
}
.Factoring__Description{
  font-family: 'Roboto';
  max-width: 600px;
  font-size: 20px;
  margin-top: 50px;
  margin-bottom: 50px;
  padding-left: 20px;
  padding-right: 20px;
  color: white;
  text-align: center;
}
.Factoring__Description  a{
  text-decoration: none;
  color: white;
}


.Factoring__rotate_button{margin-bottom: 30px !important;width:200px;height:60px;cursor:pointer;perspective:500px;-webkit-perspective:500px; margin: auto}
.Factoring__rotate_button div{height:100%;transform-style:preserve-3d;-webkit-transform-style:preserve-3d;transition:0.25s;-webkit-transition:0.25s;}
.Factoring__rotate_button:hover div{transform:rotateX(-90deg);}
.Factoring__rotate_button span{width:100%;height:100%;position:absolute;left: 0;box-sizing:border-box;border:5px solid white;font-family:'Source Sans Pro',sans-serif;line-height:50px;font-size:17pt;text-align:center;text-transform:uppercase;}
.Factoring__rotate_button span:nth-child(1){color:white;transform: translate3d(0, 0, 30px);-webkit-transform: translate3d(0, 0, 30px);}
.Factoring__rotate_button span:nth-child(2){color: white;background:#009547;transform: rotateX(90deg) translate3d(0, 0, 30px);-webkit-transform: rotateX(90deg) translate3d(0, 0, 30px);}


@media (max-height : 500px) {
  .Factoring__logo{
    max-width: 150px;
  }
  .Factoring__arrow{
    background-size: 40px;
    width: 40px;
    height: 40px;
  }
  .Factoring__Description{
    margin-top: 0px;
    margin-bottom: 20px;
  }
  .Factoring__header{
    font-size: 35px !important;
    margin-bottom: 0px !important;
    margin-top: 0px !important;
  }
  .Factoring__paragraph{
    font-size: 18px !important;
  }
  .Factoring__technologis_container{
    margin-bottom: 10px !important;
  }
  .Factoring__rotate_button{
    margin-bottom: 15px !important;
  }

}
@media (max-width : 1150px) {
  .Factoring__technologis_container {
    flex-direction: column;
    margin-bottom: 50px;
  }
}
@media (max-width : 850px) {
  .Factoring__technologis_container {
    flex-direction: column;
    margin-bottom: 50px;
  }
  .Factoring__technologis_container div div{
    background-size: 50px !important;
    width: 50px !important;
    height: 50px !important;
  }
  .Factoring__technologis div{
    justify-content: space-between !important;
  }
  .Factoring__bootstrap{
    background-size: 50px !important;
  }
  .Factoring__gulp{
    background-size: 50px !important;
  }
  .Factoring__jq{
    background-size: 50px !important;
  }
  .Factoring__js{
    background-size: 50px !important;
  }
  .Factoring__laravel{
    background-size: 50px !important;
  }
  .Factoring__mysql{
    background-size: 50px !important;
  }
  .Factoring__php{
    background-size: 50px !important;
  }
  .Factoring__sass{
    background-size: 50px !important;
  }
}
@media (max-width: 500px) {
  .Factoring__logo{
    width: 160px !important;
  }
  .Factoring__header{
    font-size: 35px !important;
  }
  .Factoring__paragraph{
    font-size: 16px !important;
  }
  .Factoring__Description{
    margin-top: 0px;
    margin-bottom: 20px;
  }
}
