.Smoke_Zone__inner{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.Smoke_Zone__arrow {
  display: block;
  background-image: url(#{$img-path}/down-arrow_white.svg);
  background-position: center;
  background-size: 80px;
  width: 80px;
  height: 80px;
  margin: auto;
  cursor: pointer;
  -webkit-filter: drop-shadow(0px 0px 15px #9937AC);
  filter: drop-shadow(0px 0px 15px #9937AC);
}
.Smoke_Zone__arrow_show{
  background-image: url(#{$img-path}/down-arrow_white.svg);
}
.Smoke_Zone__arrow_hide{
  background-image: url(#{$img-path}/cancel_white.svg);
}
//---------------
.Smoke_Zone__header{
  font-family: 'Open Sans', 'Condensed';
  text-transform: uppercase;
  color: white;
  font-size: 50px;
  font-weight: 600;
  text-shadow: rgb(153, 55, 172) 5px 5px 8px;
  z-index: 100;
}
.Smoke_Zone__paragraph{
  font-family: 'Roboto';
  font-size: 20px;
  color: #C80085;
  letter-spacing: 0.62px;
  line-height: 30px;
  font-weight: 300;
  z-index: 100;
}
.Smoke_Zone__logo{
  width: 300px;
  -webkit-filter: drop-shadow(0px 0px 15px #9937AC);
  filter: drop-shadow(0px 0px 15px #9937AC);

}
.Smoke_Zone__logo_container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
//---------------
//---------------
.Smoke_Zone__technologis{
  z-index: 100;
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.Smoke_Zone__technologis_container{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.Smoke_Zone__technologis_container div{
  display: flex ;
  flex-direction: row ;
  justify-content: center;
  align-items: center ;
}
.Smoke_Zone__technologis_container div div{
  display: block;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100px;
  width: 100px;
  height: 100px;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 20px;
}

.Smoke_Zone__apache{
  background-image: url(#{$img-path}/smoke-zone/apache.png);
  background-size: 150px ;
  width: 150px ;
  height: 150px ;
}
.Smoke_Zone__javascript{
  background-image: url(#{$img-path}/smoke-zone/javascript.svg);
}
.Smoke_Zone__jq{
  background-image: url(#{$img-path}/smoke-zone/jq.svg);
}
.Smoke_Zone__mvc{
  background-image: url(#{$img-path}/smoke-zone/mvc.svg);
}
.Smoke_Zone__mysql{
  background-image: url(#{$img-path}/smoke-zone/mysql.svg);
}
.Smoke_Zone__php{
  background-image: url(#{$img-path}/smoke-zone/php.svg);
}

.Smoke_Zone__Description {
  max-width: 600px;
  font-size: 16px;
  margin-top: 50px;
  margin-bottom: 50px;
  padding-left: 20px;
  padding-right: 20px;
  color: #C80085;
  text-align: center;
}
.Smoke_Zone__Description  a{
  text-decoration: none;
  color: #C80085;
}

.Smoke_Zone__rotate_button{margin-bottom: 30px !important;width:200px;height:60px;cursor:pointer;perspective:500px;-webkit-perspective:500px; margin: auto}
.Smoke_Zone__rotate_button div{height:100%;transform-style:preserve-3d;-webkit-transform-style:preserve-3d;transition:0.25s;-webkit-transition:0.25s;}
.Smoke_Zone__rotate_button:hover div{transform:rotateX(-90deg);}
.Smoke_Zone__rotate_button span{width:100%;height:100%;position:absolute;left: 0;box-sizing:border-box;border:5px solid #C80085;font-family:'Source Sans Pro',sans-serif;line-height:50px;font-size:17pt;text-align:center;text-transform:uppercase;}
.Smoke_Zone__rotate_button span:nth-child(1){color:#C80085;transform: translate3d(0, 0, 30px);-webkit-transform: translate3d(0, 0, 30px);}
.Smoke_Zone__rotate_button span:nth-child(2){color:black;background:#C80085;transform: rotateX(90deg) translate3d(0, 0, 30px);-webkit-transform: rotateX(90deg) translate3d(0, 0, 30px);}

//---------------

@media (max-height : 500px) {
  .Smoke_Zone__logo{
    max-width: 150px;
  }
  .Smoke_Zone__arrow{
    background-size: 40px;
    width: 40px;
    height: 40px;
  }
  .Smoke_Zone__Description{
    margin-top: 0px !important;
    margin-bottom: 10px !important;
  }
  .Smoke_Zone__technologis_container{
    margin-bottom: 15px !important;
  }
  .Smoke_Zone__rotate_button{
    margin-bottom: 15px !important;
  }
  .Smoke_Zone__header{
    margin-top: 5px !important;
    margin-bottom: 5px !important;
  }
  .Smoke_Zone__paragraph{
    margin-top: 5px !important;
    margin-bottom: 5px !important;
  }
}
@media (max-width : 850px) {
  .Smoke_Zone__technologis_container {
    flex-direction: column;
    margin-bottom: 50px;
  }
  .Smoke_Zone__technologis_container div {
    justify-content: space-between !important;
  }
  .Smoke_Zone__technologis_container div div{
    background-size: 50px !important;
    width: 50px !important;
    height: 50px !important;
  }
  .Smoke_Zone__apache{
    background-size: 100px !important;
    width: 100px !important;
    height: 100px !important;
  }

}
@media (max-width: 400px) {
  .Smoke_Zone__logo{
    width: 160px !important;
  }
  .Smoke_Zone__header{
    font-size: 35px !important;
  }
  .Smoke_Zone__paragraph{
    font-size: 16px !important;
  }
  .Smoke_Zone__Description{
    margin-top: 0px !important;
    margin-bottom: 10px !important;
  }
  .Smoke_Zone__technologis_container{
    margin-bottom: 15px !important;
  }
  .Smoke_Zone__rotate_button{
    margin-bottom: 15px !important;
  }
  .Smoke_Zone__header{
    margin-top: 5px !important;
    margin-bottom: 5px !important;

  }
}
