// Variables
@import "variables";

@import "components/portfolio_sections/Factoring";
@import "components/portfolio_sections/History24";
@import "components/portfolio_sections/Smoke_Zone";
@import "components/portfolio_sections/WellHome";

@import "components/Skills";
@import "components/Menu";
@import "components/ContactMe";
@import "components/Home";

@import "pack/Icons";
@import "pack/preloaderEffect";
@import "pack/animate.min";


.container {
  padding: 0 0 0 0;

}

.history_logo {
  width: 300px;
  -webkit-filter: drop-shadow(0px 0px 15px black);
  filter: drop-shadow(0px 0px 15px black);
  position: absolute;
  bottom: 0;
}

.wp_logo {
  width: 500px;
  box-shadow: none;
  position: absolute;
  bottom: 0;
}

.factoring_logo {
  width: 300px;
  -webkit-filter: drop-shadow(0px 0px 15px black);
  filter: drop-shadow(0px 0px 15px black);
  position: absolute;
  bottom: 0;
}

.custom-section {
  height: 100vh !important;
  max-height: 100vh !important;
}

.custom-section {
  background: black;
}

.anim-appear {
  opacity: 0.01;
}

.anim-appear.anim-appear-active {
  opacity: 2;
  transition: opacity 5s ease-in;
}

.arrow_history {
  display: block;
  background-image: url('/imgs/down-arrow_white.svg');
  background-position: center;
  background-size: 80px;
  width: 80px;
  height: 80px;
  margin: auto;
  cursor: pointer;

}

.arrow_factoring {
  display: block;
  background-image: url('/imgs/down-arrow_white.svg');
  background-position: center;
  background-size: 80px;
  width: 80px;
  height: 80px;
  margin: auto;
  cursor: pointer;

}

.tech_history_body {
  visibility: hidden;
}

.tech_factoring_body {
  visibility: hidden;
}

.cancel_white {
  background-image: url('/imgs/cancel_white.svg');
}

.arrow_white {
  background-image: url('/imgs/down-arrow_white.svg');
}

.cancel {
  background-image: url('/imgs/cancel.svg');
}

.arrow {
  background-image: url('/imgs/down-arrow.svg');
}

@media (max-width: 850px) {
  .tech_welhome_container {
    flex-direction: column;
    margin-bottom: 50px;
  }
  .tech_welhome_container_sub {
    justify-content: space-evenly !important;

  }

  .arrow_factoring {
    bottom: 40px;
    position: relative;
    background-size: 40px;
    width: 40px;
    height: 40px;
  }
  .factoring_yii2 {
    background-size: 50px !important;
  }
  .factoring_wordpress {
    background-size: 50px !important;
  }
  .factoring_js {
    background-size: 50px !important;
  }
  .factoring_php {
    background-size: 50px !important;
  }
  .factoring_jq {
    background-size: 50px !important;
  }
  .factoring_bootstrap {
    background-size: 50px !important;
  }
  .factoring_mysql {
    background-size: 50px !important;
  }
  .factoring_nginx {
    background-size: 50px !important;
  }
  .tech_factoring_body {
    margin-top: 100px;
  }
}

.factoring_yii2 {
  background-image: url('/imgs/factoring/yii2.png');
}

.factoring_wordpress {
  background-image: url('/imgs/factoring/wordpress.svg');
}

.factoring_js {
  background-image: url('/imgs/factoring/js.svg');
}

.factoring_php {
  background-image: url('/imgs/factoring/php.svg');
}

.factoring_jq {
  background-image: url('/imgs/factoring/jq.svg');
}

.factoring_bootstrap {
  background-image: url('/imgs/factoring/Bootstrap.png');
}

.factoring_mysql {
  background-image: url('/imgs/factoring/mysql.svg');
}

.factoring_nginx {
  background-image: url('/imgs/factoring/nginx.png');
}

.description_welhome {
  font-size: 16px;
  margin-bottom: 30px;
  padding-left: 20px;
  padding-right: 20px;
}

.description_welhome a {
  text-decoration: none;
  color: #636b6f;
}

.hide_welhome_skills {
  display: none;
}

.badInput {
  border-bottom: 2px solid #F62619 !important;
  transition-duration: 1s !important;
}

.goodInput {
  border-bottom: 2px solid !important;
  transition-duration: 1s !important;
}

@media (max-width: 700px) {
  .name_email_container {
    flex-direction: column !important;
  }
  .mycontact_form_container input[name='username'] {
    width: 100% !important;
  }
  .mycontact_form_container input[name='email'] {
    width: 100% !important;
  }
  .mycontact_form_container form {
    margin-left: 0 !important;
  }
  .mycontact_form_container input[name='subject'] {
    width: 80% !important;
  }
  .mycontact_form_container textarea[name='body'] {
    width: 80% !important;
  }
  .label_contact_hint {
    display: none !important;
  }
}

@media (max-width: 500px) {
  .label_tech {
    display: none !important;
  }
}

@media (max-width: 400px) {
  .neon {
    font-size: 60px !important;
  }
  .info {
    font-size: 20px !important;
  }
  .label_contact {
    font-size: 60px !important;
  }
  .submit_container {
    margin-bottom: 20px !important;
  }

  .wp_logo {
    width: 260px !important;
  }
  .welhome_label {
    font-size: 35px !important;
  }
  .welhome_desc {
    font-size: 16px !important;
  }
  .factoring_logo {
    width: 160px !important;
  }
  .factoring_label {
    font-size: 35px !important;
  }
  .factoring_disc {
    font-size: 16px !important;
  }
  .general__arrow{
    background-size: 60px !important;
    width: 60px !important;
    height: 60px !important;
  }
}

@media (max-height: 500px) {
  .menu__handle {
    pointer-events: auto !important;
  }
  #menu {
    pointer-events: none !important;
  }
  .neon {
    font-size: 70px !important;
  }
  .info {
    font-size: 30px !important;
  }
  .label_tech {
    font-size: 20px !important;
  }
  .icon_container {
    margin-top: 30px !important;
  }
  .icon{
    font-size: 2em !important;
  }
  .general__arrow{
    background-size: 60px !important;
    width: 60px !important;
    height: 60px !important;
  }
}

.Smoke_Zone__stroke svg path {
  stroke: #D40080 !important;
  stroke-width: 5px;
}

.History24__stroke svg path {
  stroke: #E6E6E6 !important;
}

.WellHome__stroke svg path {
  stroke: #E6E6E6 !important;

}

.Factoring__stroke svg path {
  stroke: #38925E !important;

}











