
.C2Corner {

  background: #373B44;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #4286f4, #373B44);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #4286f4, #373B44); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  .technologies-container {

    .technologies {

      div div{
        filter: drop-shadow( 0px 0px 15px rgba(0,0,0,0.5) );
      }

      div:nth-child(1) {
        div:nth-child(1) {
          background-image: url(#{$img-path}/c2corner/angularJs.png);
        }
        div:nth-child(2) {
          background-image: url(#{$img-path}/skills/frontend/js1.png);
        }
        div:nth-child(3) {
          background-image: url(#{$img-path}/c2corner/stripe.png);
        }
        div:nth-child(4) {
          background-image: url(#{$img-path}/c2corner/bower.png)
        }
      }
      div:nth-child(2) {
        div:nth-child(1) {
          background-image: url(#{$img-path}/c2corner/laravel.png);
        }
        div:nth-child(2) {
          background-image: url(#{$img-path}/c2corner/api.png);
        }
        div:nth-child(3) {
          background-image: url(#{$img-path}/c2corner/gulp.jpg);
        }
        div:nth-child(4) {
          background-image: url(#{$img-path}/c2corner/npm.png);
        }
      }
    }

    .description {

      p {
        filter: drop-shadow( 0px 0px 15px rgba(0,0,0,1) );
        font-family: 'Roboto';
        max-width: 600px;
        font-size: 20px;
        margin-top: 50px;
        margin-bottom: 50px;
        padding-left: 20px;
        padding-right: 20px;
        color: white;
        text-align: center;

      }
    }
    .rotate_button {

      figure {

        span {

          border: 5px solid white;;

        }
        span:nth-child(1) {
          color: white;;
        }
        span:nth-child(2) {
          color: white;
          background: #597BDF;
        }

      }
    }

  }
  .logo-container {

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    img {
      width: 300px;
      -webkit-filter: drop-shadow(0px 0px 15px black);
      filter: drop-shadow(0px 0px 15px black);
    }

    .header{
      font-family: 'Open Sans', 'Condensed';
      text-transform: uppercase;
      color: white;
      font-size: 50px;
      font-weight: 600;
      z-index: 100;
      text-align: center;
    }
    .paragraph{
      font-family: 'Roboto';
      font-size: 20px;
      color: white;
      letter-spacing: 0.62px;
      line-height: 30px;
      font-weight: 300;
      text-align: center;
      z-index: 100;
      max-width: 500px;
    }
  }
  .arrow {
    display: block;
    background-image: url(#{$img-path}/down-arrow_white.svg);
    background-position: center;
    background-size: 80px;
    width: 80px;
    height: 80px;
    margin: auto;
    cursor: pointer;
    -webkit-filter: drop-shadow(0px 0px 15px black);
    filter: drop-shadow(0px 0px 15px black);
  }
  .show{
    background-image: url(#{$img-path}/down-arrow_white.svg);
  }
  .hide{
    background-image: url(#{$img-path}/cancel_white.svg);
  }
}
