$mainColor : #003399;


.C2Corner {

  background: #3399FF;

  .technologies-container {

    .technologies {

      div:nth-child(1) {
        div:nth-child(1) {
          background-image: url(#{$img-path}/c2corner/angularJs.png);
        }
        div:nth-child(2) {
          background-image: url(#{$img-path}/skills/frontend/js1.png);
        }
        div:nth-child(3) {
          background-image: url(#{$img-path}/c2corner/stripe.png);
        }
        div:nth-child(4) {
          background-image: url(#{$img-path}/c2corner/bower.png)
        }
      }
      div:nth-child(2) {
        div:nth-child(1) {
          background-image: url(#{$img-path}/c2corner/laravel.png);
        }
        div:nth-child(2) {
          background-image: url(#{$img-path}/c2corner/api.png);
        }
        div:nth-child(3) {
          background-image: url(#{$img-path}/c2corner/gulp.jpg);
        }
        div:nth-child(4) {
          background-image: url(#{$img-path}/c2corner/npm.png);
        }
      }
    }

    .description {

      max-width: 900px;

      p {
        color: $mainColor;
        font-family: 'Alfa Slab One', cursive;
        max-width: 900px;
        font-size: 17px;
        margin-top: 50px;
        margin-bottom: 50px;
        padding-left: 20px;
        padding-right: 20px;
        text-align: center;

      }
    }
    .rotate_button {

      figure {

        span {

          border: 5px solid $mainColor;

        }
        span:nth-child(1) {
          color: $mainColor;;
        }
        span:nth-child(2) {
          color: $mainColor;
          background: transparent;
        }

      }
    }

  }
  .logo-container {

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .logoText{

      color: $mainColor;
      text-shadow: #3366CC 4px 4px 0px;
      font-family: 'Alfa Slab One', cursive;
      z-index: 100;
      font-size: 65px;
      line-height: 0;

    }

    .header{
      font-family: 'Open Sans', 'Condensed';
      text-transform: uppercase;
      color: white;
      font-size: 50px;
      font-weight: 600;
      z-index: 100;
      text-align: center;
    }
    .paragraph{


      color: $mainColor;
      font-family: 'Alfa Slab One', cursive;
      font-size: 20px;
      letter-spacing: 0.62px;
      line-height: 30px;
      font-weight: 300;
      text-align: center;
      z-index: 100;
      max-width: 700px;
    }
  }
  .arrow {
    display: block;
    background-image: url(#{$img-path}/c2corner/arrow-down.svg);
    background-position: center;
    background-size: 80px;
    width: 80px;
    height: 80px;
    margin: auto;
    margin-top: 30px;
    cursor: pointer;
  }
  .show{
    background-image: url(#{$img-path}/c2corner/arrow-down.svg);
  }
  .hide{
    background-image: url(#{$img-path}/c2corner/arrow-up.svg);
  }
}
